:root {
  --primary: #FF6B00;
  --secondary: #36B37E;
  --text: #172B4D;
  --neutral: #EBF0EE;
}

#container {
  max-width: 1440px;
  margin: auto;
}

.primary {
  color: var(--primary);
}

.btn-eff-primary:hover {
  background-color: #FE984E;
}

.btn-eff-primary:focus {
  background-color: #E35F00;
}

.btn-eff-secondary:hover {
  background-color: #C5E9DA;
}

.btn-eff-secondary:focus {
  background-color: #28855D;
}

.secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text {
  color: var(--text);
}

.neutral {
  color: var(--neutral);
}

.bg-neutral {
  background-color: var(--neutral);
}

#download-cv {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
  transition: box-shadow .2s ease-in;
}

.works>div {
  width: calc(96%/3);
}

input[type="submit"] {
  background-color: var(--primary);
}

input:focus,
textarea:focus {
  outline-color: var(--primary);
}


@media not all and (min-width: 768px) {
  .works>div {
    width: calc(96%/1);
  }

  .menu {
    overflow: hidden;
    margin-top: 20px;
    z-index: 2;
    width: 100%;
  }

  #toggler,
  #toggler2 {
    z-index: 2;
    top: 8px;
    right: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
  }

  #menu-icon {
    right: 1px;
  }

  #toggler:checked~.menu {
    display: block;
    animation: menuAnimation .5s ease-in forwards;
  }

  #works h1, #about-me h1, #contact h1 {
    position: relative;
  }

  #works h1::before, #about-me h1::before, #contact h1::before {
    content: "";
    width: 120px;
    height: 10px;
    background-color: var(--text);
    border-radius: 10px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes menuAnimation {
    from {
      height: 0;
    }

    to {
      height: 150px;
    }
  }

  @keyframes menuAnimationReverse {
    from {
      height: 150px;
    }

    to {
      height: 0;
    }
  }
}
